//
   Created by maweiyi on 12/9/15.


div.container(style="background-color: #FFFFFF; margin-top: 20px")
    div.row
        div.col-lg-3
            ul(style="margin-top: 30px; list-style-type:none")
                li(style="color:red; font-size:14px; font-weight: bold") Web Developer
                li(style="margin-top: 10px; font-family: Arial") HTML5 & CSS
                li(style="margin-top: 10px") JavaScript
                li(style="margin-top: 10px") PHP
                li(style="margin-top: 10px") ASP.NET
                li(style="color:red; font-size:14px; font-weight: bold; margin-top: 10px") Programming
                li(style="margin-top: 10px") C & C++
                li(style="margin-top: 10px") C#
                li(style="margin-top: 10px") Java
                li(style="margin-top: 10px") .Net
                li(style="color:red; font-size:14px; font-weight: bold; margin-top: 10px") DataBases
                li(style="margin-top: 10px") MySQL
                li(style="margin-top: 10px") Oracle
                li(style="margin-top: 10px") Mongodb
                li(style="color:red; font-size:14px; font-weight: bold; margin-top: 10px") Operating&Systems
                li(style="margin-top: 10px") iOS
                li(style="margin-top: 10px") Android
                li(style="margin-top: 10px") Linux&Unix
                li(style="margin-top: 10px") Windows
                li(style="color:red; font-size:14px; font-weight: bold; margin-top: 10px") Networking
                li(style="color:red; font-size:14px; font-weight: bold; margin-top: 10px") Others


        div.col-lg-9
            ul(style="margin-top: 30px; list-style-type:none")
              include showList