//Fixed navbar
div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class='navbar-brand' href='/books') ITBooks
        
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/blog') All ITBooks


        li.dropdown
          a(href='#' class='dropdown-toggle' data-toggle='dropdown') All Categories
            span.caret
          ul(class='dropdown-menu' role='menu')
            li
              a(href='#') iOS
            li
              a(href='#') Android
            li
              a(href='#') Node.js
            li
              a(href='#') Python
            li.divider
            //li.dropdown-header Nav header
            li
              a(href='#') Java EE
            li
              a(href='#') HTML&&CSS

              
