//Fixed navbar
div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class='navbar-brand' href='/books') ITBooks
        
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/blog') All ITBooks

        li.active
          a(href='/test') All Categories
              
