//
   Created by maweiyi on 12/11/15.



style
    |  h1, h6 {
    |     color: #2A3744;
    |     font-size: 24px;
    | }
    |  .media-body dl dt {
    |     float: left;
    |     padding: 10px 0px 13px;
    |     width: 100px;
    | }
    | .media-body dl dd {
    |         margin-left: 30px;
    |         padding: 10px 0px 13px;
    |         height: auto;
    |}
    | .entry-content {
    |     color: #2A3744;
    |     font-size: 14px;
    | }
    | h3 {
    |     font-size: 16px;
    |     margin: 15px 0px;
    |     font-weight: bold;
    |     color: #2A3744;
    | }
    | p {
    |     margin: 0px 0px 10px;
    | }
    | .download-links a {
    |     padding: 0px 20px;
    |     margin-right: 5px;
    |     color: #FFF;
    |     display: inline-block;
    |     text-align: center;
    |     background-color: #FF4629;
    |     line-height: 30px;
    |     height: 30px;
    | }
    | ul.related_post {
    |     display: inline-block;
    |     position: relative;
    |     margin: 0px;
    |     padding: 0px;
    | }
    | ul.related_post li {
    |     position: relative;
    |     display: inline-block;
    |     vertical-align: top;
    |     width: 165px;
    |     margin: 15px 17px 15px 0px;
    |     padding: 0px;
    |     background: transparent none repeat scroll 0% 0%;
    | }
    | ul.related_post li a {
    |     position: relative;
    |     display: block;
    |     font-size: 14px;
    |     line-height: 1.6em;
    |     text-decoration: none;
    |     margin-bottom: 5px;
    |     text-indent: 0px;
    | }
    | ul.related_post li img {
    |     display: block;
    |     width: 165px;
    |     height: 210px;
    |     max-width: 100%;
    |     margin: 0px;
    |     padding: 0px;
    |     background: transparent none repeat scroll 0% 0%;
    |     border: medium none;
    |     border-radius: 3px;
    |     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    | }
    | ul.related_post li a {
    |     position: relative;
    |     display: block;
    |     font-size: 14px;
    |     line-height: 1.6em;
    |     text-decoration: none;
    |     margin-bottom: 5px;
    |     text-indent: 0px;
    | }
    | ul.related_post li a {
    |     position: relative;
    |     display: block;
    |     font-size: 14px;
    |     line-height: 1.6em;
    |     text-decoration: none;
    |     margin-bottom: 5px;
    |     text-indent: 0px;
    | }


h1 The Core iOS Developer’s Cookbook, 5th Edition
div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 20px")
div
    div.media
        a.pull-left(href='#')
            img.media-object(src='http://www.allitebooks.com/wp-content/uploads/2015/12/The-Core-iOS-Developers-Cookbook-5th-Edition.jpg', height='353px', width='270px', style="margin-right: 20px; margin-top:15px")
        div.media-body
            dl(style="margin-top: 15px")
               dt Author:
               dd Erica Sadun, Rich Wardwell
               dt Isbn:
               dd 0321948106
               dt Year:
               dd 2014
               dt Pages:
               dd 672
               dt Languages:
               dd English
               dt File size:
               dd 17.7 MB
               dt File format:
               dd PDF
               dt Category:
               dd iOS
div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px")
div.entity-content
    h3 Book Description:
    p The best place to start iOS application development
    p The Core iOS Developer’s Cookbook provides ready-to-use code solutions for common iOS challenges, providing recipes that help you master the core technology at the heart of iOS. Renowned iOS programming expert Erica Sadun and top iOS developer Rich Wardwell cover the topics you need to create successful mobile applications that take full advantage of iOS graphics, touches, and views.
    p As in all of Sadun’s iOS bestsellers, The Core iOS Developer’s Cookbook translates modern best practices into working code, distilling key concepts into concise recipes you can easily understand and apply to your own projects. This isn’t just cut-and-paste; using examples, Sadun and Wardwell fully explain both the “how” and “why” that underscore effective and successful iOS development.

div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px")
span.download-links(style="margin-top: 10px")
    a(target="_blank", href="#", style="margin-top: 10px") Download PDF (16.06 MB)
div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px")
div.wp_rp_content
    h3 Related eBooks
    ul(class="related_post wp_rp")
        li
           a.wp_rp_thumbnail(href="#")
              img(src="http://www.allitebooks.com/wp-content/uploads/1432/28555c8b38b7872-150x150.jpg", alt="The Core iOS Developer’s Cookbook, 5th Edition", height="150", width="150")
           a(title="" data-original-title="" href="http://www.allitebooks.com/the-core-ios-developers-cookbook-5th-edition/" class="wp_rp_title") The Core iOS Developer’s Cookbook, 5th Edition
        li
           a.wp_rp_thumbnail(href="#")
               img(src="http://www.allitebooks.com/wp-content/uploads/1432/28555c8af2a3131-150x150.jpg", alt="iOS Auto Layout Demystified, 2nd Edition", height="150", width="150")
           a(title="" data-original-title="" href="http://www.allitebooks.com/ios-auto-layout-demystified-2nd-edition/" class="wp_rp_title") iOS Auto Layout Demystified, 2nd Edition
        li
            a.wp_rp_thumbnail(href="#")
               img(src="http://www.allitebooks.com/wp-content/uploads/1432/28555c8aa685642-150x150.jpg" alt="Programming iOS 7, 4th Edition" height="150" width="150")
            a(title="" data-original-title="" href="http://www.allitebooks.com/programming-ios-7-4th-edition/" class="wp_rp_title") Programming iOS 7, 4th Edition
        li
            a.wp_rp_thumbnail(href="#")
               img(src="http://www.allitebooks.com/wp-content/uploads/2015/12/Learning-iOS-Development-150x150.jpg" alt="Learning iOS Development" height="150" width="150")
            a(title="" data-original-title="" href="http://www.allitebooks.com/learning-ios-development/" class="wp_rp_title") Learning iOS Development