//
   Created by maweiyi on 12/11/15.



style
    |  h1, h6 {
    |     color: #2A3744;
    |     font-size: 24px;
    | }
    |  .media-body dl dt {
    |     float: left;
    |     padding: 10px 0px 13px;
    |     width: 100px;
    | }
    | .media-body dl dd {
    |         margin-left: 30px;
    |         padding: 10px 0px 13px;
    |         height: auto;
    |}
    | .entry-content {
    |     color: #2A3744;
    |     font-size: 14px;
    | }
    | h3 {
    |     font-size: 16px;
    |     margin: 15px 0px;
    |     font-weight: bold;
    |     color: #2A3744;
    | }
    | p {
    |     margin: 0px 0px 10px;
    | }

h1 The Core iOS Developer’s Cookbook, 5th Edition
div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 20px")
div
    div.media
        a.pull-left(href='#')
            img.media-object(src='http://www.allitebooks.com/wp-content/uploads/2015/12/The-Core-iOS-Developers-Cookbook-5th-Edition.jpg', height='353px', width='270px', style="margin-right: 20px; margin-top:15px")
        div.media-body
            dl(style="margin-top: 15px")
               dt Author:
               dd Erica Sadun, Rich Wardwell
               dt Isbn:
               dd 0321948106
               dt Year:
               dd 2014
               dt Pages:
               dd 672
               dt Languages:
               dd English
               dt File size:
               dd 17.7 MB
               dt File format:
               dd PDF
               dt Category:
               dd iOS
div(style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px")
div.entity-content
    h3 Book Description:
    p The best place to start iOS application development
    p The Core iOS Developer’s Cookbook provides ready-to-use code solutions for common iOS challenges, providing recipes that help you master the core technology at the heart of iOS. Renowned iOS programming expert Erica Sadun and top iOS developer Rich Wardwell cover the topics you need to create successful mobile applications that take full advantage of iOS graphics, touches, and views.
    p As in all of Sadun’s iOS bestsellers, The Core iOS Developer’s Cookbook translates modern best practices into working code, distilling key concepts into concise recipes you can easily understand and apply to your own projects. This isn’t just cut-and-paste; using examples, Sadun and Wardwell fully explain both the “how” and “why” that underscore effective and successful iOS development.

