//
   Created by maweiyi on 12/11/15.

- var friends = 10
case ps
    when 0
        p you have no friends
    when 1
        p you have one friend
    default
        if (ps === 16)
           p you have #{ps} friends
        else
           p you don't have 16 friends