
<div style="height: 5px; margin-top: 20px" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-text col-md-10 col-md-push-1">
            <p>Reproduction of site books is authorized only for informative purposes and strictly for personal, private use.     © 2015 All IT Books</p>
        </div>
    </div>
</div>
</body>
</html>
