<!--
Created by maweiyi on 12/9/15.

-->
<script src="/javascripts/custom/left.js"></script>
<style>
    .important
    {
        font-weight:bold;
        font-size:xx-large;
    }
    .blue
    {
        color:blue;
    }
</style>
<div style="background-color: #FFFFFF; margin-top: 20px" class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul style="margin-top: 30px; list-style-type:none">
                <li style="color:red; font-size:14px; font-weight: bold">Web Developer</li>
                <li style="margin-top: 10px; font-family: Arial">HTML5 & CSS</li>
                <li style="margin-top: 10px" id="javascript">JavaScript</li>
                <li style="margin-top: 10px">PHP</li>
                <li style="margin-top: 10px">ASP.NET</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Programming</li>
                <li style="margin-top: 10px">C & C++</li>
                <li style="margin-top: 10px">C#</li>
                <li style="margin-top: 10px">Java</li>
                <li style="margin-top: 10px">.Net</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">DataBases</li>
                <li style="margin-top: 10px">MySQL</li>
                <li style="margin-top: 10px">Oracle</li>
                <li style="margin-top: 10px">Mongodb</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Operating&Systems</li>
                <li style="margin-top: 10px">iOS</li>
                <li style="margin-top: 10px">Android</li>
                <li style="margin-top: 10px">Linux&Unix</li>
                <li style="margin-top: 10px">Windows</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Networking</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Others</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <ul style="margin-top: 30px; list-style-type:none"></ul>
            <%include showList.ejs%>
        </div>
    </div>
</div>
