<!--
Created by maweiyi on 12/9/15.

-->
<!--script src="/javascripts/custom/left.js"></script-->
<style>
    .important
    {
        font-weight:bold;
        font-size:xx-large;
    }
    .blue
    {
        color:blue;
    }
    a {
        color: #555555;
        text-decoration: none;
    }
</style>
<div style="background-color: #FFFFFF; margin-top: 20px" class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul style="margin-top: 30px; list-style-type:none">
                <li style="color:red; font-size:14px; font-weight: bold">Web Developer</li>
                <li style="margin-top: 10px; font-family: Arial"><a href="/book?category=html" style="text-decoration: none">HTML5 & CSS</a></li>
                <li style="margin-top: 10px"><a href="/book?category=javascript" style="text-decoration: none">JavaScript</a></li>
                <li style="margin-top: 10px"><a href="/book?category=php" style="text-decoration: none">PHP</a></li>
                <li style="margin-top: 10px"><a href="/book?category=asp.net" style="text-decoration: none">ASP.NET</a></li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Programming</li>
                <li style="margin-top: 10px"><a href="/book?category=c-c++" style="text-decoration: none">C & C++</a></li>
                <li style="margin-top: 10px"><a href="/book?category=c#" style="text-decoration: none">C#</a></li>
                <li style="margin-top: 10px"><a href="/book?category=java" style="text-decoration: none">Java</a></li>
                <li style="margin-top: 10px"><a href="/book?category=.net" style="text-decoration: none">.Net</a></li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">DataBases</li>
                <li style="margin-top: 10px"><a href="/book?category=mysql" style="text-decoration: none">MySQL</a></li>
                <li style="margin-top: 10px"><a href="/book?category=oracle" style="text-decoration: none">Oracle</a></li>
                <li style="margin-top: 10px"><a href="/book?category=mongodb" style="text-decoration: none">Mongodb</a></li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Operating&Systems</li>
                <li style="margin-top: 10px"><a href="/book?category=ios" style="text-decoration: none">iOS</a></li>
                <li style="margin-top: 10px"><a href="/book?category=android" style="text-decoration: none">Android</a></li>
                <li style="margin-top: 10px"><a href="/book?category=linux-unix" style="text-decoration: none">Linux&Unix</a></li>
                <li style="margin-top: 10px"><a href="/book?category=windows" style="text-decoration: none">Windows</a></li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Networking</li>
                <li style="color:red; font-size:14px; font-weight: bold; margin-top: 10px">Others</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <ul style="margin-top: 30px; list-style-type:none"></ul>
            <%include searchPage.ejs%>
        </div>
    </div>
</div>
