<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="media"><a href="#" class="pull-left"><img src="http://www.allitebooks.com/wp-content/uploads/2015/12/Intel-Xeon-Phi-Coprocessor-Architecture-and-Tools-400x493.jpg" height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <h4 style="font-size: 22px; color: #555" class="media-heading">Intel Xeon Phi Coprocessor Architecture and Tools</h4>
        <p style="font-size: 14px">Intel® Xeon Phi™ Coprocessor Architecture and Tools: The Guide for Application Developers provides developers a comprehensive introduction and in-depth look at the Intel Xeon Phi coprocessor architecture and the corresponding parallel data structure tools and algorithms used in the various technical computing applications for which it is suitable. It also examines the source code-level optimizations that can be performed to exploit the powerful features of the processor.</p>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<div class="col-sm-6 navbar-right">
    <nav>
        <ul class="pagination">
            <li><a href="#"><span style="color: #8B8B7A">Prev</span></a></li>
            <li class="active"><a href="#"><span style="color: #8B8B7A">1</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">2</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">3</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">4</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">5</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">6</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">7</span></a></li>
            <li><a href="#"><span style="color: #8B8B7A">Next</span></a></li>
        </ul>
    </nav>
</div>
